.pytest_cache
.DS_Store
.idea/*
*.pyc
*.egg*
dist
build
*.csv
venv

examples/esfahani_portfolio
examples/safaoui_dr_cvar_hs
examples/mpc
examples/hvac_mpc
examples/temp_reg_mpc
examples/mhe_1d
examples/mhe_double_integ
examples/MPC_code
examples/simple_mpc_1d
examples/simple_mpc_2d
examples/portfolio_opt

examples/*.so
examples/cvxpygen_mpc.py
